<div class="container" *ngIf="drink">
  <form [formGroup]="service.formModel" (submit)="onEdit(drink.id)">
    <div class="mb-3">
      <label class="form-label">Nom</label>
      <input type="text" value="{{drink.nom}}" class="form-control" formControlName="Nom">
    </div>
    <div class="mb-3">
      <label class="form-label">Prix</label>
      <input type="number" value="{{drink.prix}}" class="form-control" formControlName="Prix">
    </div>

    <div class="mb-3">
      <label class="form-label">Description</label>
      <textarea class="form-control" rows="3" value="{{drink.description}}"
        formControlName="Description"></textarea>
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary mb-3">Submit</button>
    </div>
  </form>
</div>